
form {
	top : 5px;	
}

input[type="submit"] {
        position : relative;
        margin : 2px;
        float : left;
        clear : both;
	border-radius : 5px;
	margin-left : 0px;
}

input[type="text"] {
        position : relative;
        margin : 2px;
        float : left;
        clear : both;
	border-radius : 5px;
	margin-left : 0px;
}
fieldset {
        width : 15em;
	border-radius : 10px;
}

h1 {
	font-family : Arial;
	font-size : 12px;
		
}

label {
	width : 10px;
	display : block;
	float : left;
}

p {
	font-family : Arial;
}
